.list_menu_item {
	margin-top: 13px;
	margin-bottom: 13px;
}

.list_item_content a:link {
	color: #000000;
}

.list_item_content a:visited {
	color: #000000;
}
.list_item_content a:hover {
	color: #000000;
}
.list_item_content a:active {
	color: #000000;
}
