.navigation {
	display: flex;
	justify-content: space-between;
	height: 100%;

	> .left {
		height: 100%;

		> .logo {
			display: inline-block;
			width: 120px;
			margin: 0px 20px 0px 30px;
			font-size: 25pt;
			font-weight: 800;
			letter-spacing: 2px;

			> div {
				position: absolute;
				top: 55%;
				transform: translateY(-50%);
			}
		}

		.nav_list {
			> li {
				display: inline-block;
				margin: 13px 10px 0px 10px;
			}
		}
	}

	> .right {
		height: 100%;

		.nav_list {
			> li {
				display: inline-block;
				margin: 0px 15px 0px 15px;
			}
		}
	}
}

.nav_container {
	position: relative;
	display: inline-block;
	height: 100%;
}

.nav_list {
	// position: absolute;
	// top: 55%;
	// transform: translateY(-50%);
	display: flex;
	align-items: center;
	margin: 0px;
	padding: 0px;
	list-style: none;
	height: 100%;
}

.nav_list_item .search_bar {
	height: 45px;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	// margin: 2.5px 0px 2.5px 0px;
	border-radius: 18px;
	border: 2px solid #cfcfcf;
}

.icon_box {
	width: 25px;
	height: 25px;
}

.icon_box {
	> .icon {
		cursor: pointer;
	}
}

.search_bar {
	display: none;
	transform: translateX(100%);
	width: 0px;

	.separate {
		float: left;
		width: 1px;
		height: 22px;
		border-right: 1px solid #cfcfcf;
		margin: 8px 15px 8px 15px;
	}

	.input {
		float: left;
		margin: 3px 0px 1px 0px;
		height: 32px;
		width: 90%;
		font-size: 11pt;

		border: none;
		background-color: transparent;
		color: #a1a1a1;
		outline: none;
		transition: width 350ms ease 0s;
	}

	// .input:focus {
	// 	width: 300px;
	// 	transition: all 350ms ease 0s;
	// }
}

.nav_list_item .user {
	width: 45px;
	height: 45px;
	background-color: #ffffff;
}
